/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


&mt {
  //  flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ {

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

         combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };

            combo_ralt {
            timeout-ms = <50>;
            key-positions = <17 16>;
            bindings = <&kp RALT>;
        };

                    combo_lalt {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp LALT>;
        };

                           combo_lgui {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LGUI>;
        };


       combo_rgui {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp RGUI>;
        };



    };

        keymap {
                compatible = "zmk,keymap";

            default_layer {
        bindings = <
        &kp Q &kp W &kp E &kp R &kp T                       &kp Y &kp U  &kp I    &kp O   &kp P
        &kp A &kp S &mt LEFT_CONTROL D &mt LEFT_GUI F &mt LEFT_ALT G                       &mt LEFT_ALT H &mt LEFT_GUI J &mt LEFT_CONTROL K &kp L &kp QUOT
        &mt LSFT Z &kp X &kp C &kp V &kp B                  &kp N &kp M  &kp CMMA &kp DOT &mt LSFT RET
                        &mo 1 &kp BACKSPACE                     &kp SPACE &mo 2
        >;
        };

            left_layer {
        bindings = <
        &trans &kp NUM_7 &kp NUM_8 &kp NUM_9 &kp NUM_0                                          &kp LPAR &kp RPAR &kp TILDE &trans &kp TAB
        &kp BACKSLASH &kp PIPE  &mt LEFT_CONTROL NUM_4 &mt LEFT_GUI NUM_5 &mt LEFT_ALT NUM_6    &mt LEFT_ALT LBRC &mt LEFT_GUI RBRC &mt LEFT_CONTROL SINGLE_QUOTE &kp DOUBLE_QUOTES &kp GRAVE  
        &kp LESS_THAN &kp GREATER_THAN &kp NUM_1  &kp NUM_2    &kp NUM_3                        &kp LBKT &kp RBKT &kp SLASH &kp QUESTION &kp EQUAL
                        &mo 1  &kp ESC                                                          &trans  &mo 3
        >;
        };

        right_layer {
        bindings = <
        &trans &trans &trans &kp AMPS &kp KMLT                                                  &trans &trans &trans &trans &trans
        &trans &trans &mt LEFT_CONTROL DLLR  &mt LEFT_GUI PRCT &mt LEFT_ALT CRRT                &mt LEFT_CONTROL MINUS &mt LEFT_GUI PLUS &mt LEFT_CONTROL UNDERSCORE &trans &trans 
        &trans &trans &kp BANG  &kp ATSN &kp HASH                                               &kp COLN  &kp SCLN &trans &trans &trans               
                      &mo 3  &kp ESC                                                            &trans  &mo 2
        >;
        };

        tri_layer {
        bindings = <
        &trans &trans   &trans   &trans  &trans                                                 &trans &trans   &trans   &trans  &trans
        &trans &kp LG(LS(LEFT)) &kp LG(LS(RIGHT)) &kp LG(PAGE_UP) &kp LG(PAGE_DOWN)    &kp LA(H) &kp LA(J) &kp LA(K) &kp LA(L) &trans
        &kp LSHIFT &trans   &trans   &kp LG(RIGHT) &kp LG(LEFT)                                 &kp K_COPY &kp K_PASTE &kp K_VOL_DN &kp K_VOL_UP   &kp PRINTSCREEN
                     &trans &trans                      &trans &trans
        >;
        };

    };
};
